[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
PyQt5 = "*"
psutil = "*"
pyinstaller = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
